BUNDLE_ID_PREFIX = io.goodkind
APP_GROUP_ID = group.io.goodkind.CellTunnel

AGENT_BUNDLE_ID = $(BUNDLE_ID_PREFIX).CellTunnel.Agent
PROVIDER_BUNDLE_ID = $(AGENT_BUNDLE_ID).TunnelProvider
PHONE_BUNDLE_ID = $(BUNDLE_ID_PREFIX).CellTunnelPhone
PHONE_PROVIDER_BUNDLE_ID = $(PHONE_BUNDLE_ID).Tunnel

AGENT_MACH_SERVICE_NAME = $(BUNDLE_ID_PREFIX).celltunnel-agent
AGENT_XPC_SESSION_SERVICE_NAME = $(BUNDLE_ID_PREFIX).celltunnel-agent.session
AGENT_LAUNCH_AGENT_PLIST_NAME = agent-launchd.plist
AGENT_EXECUTABLE_NAME = CellTunnelAgent
AGENT_APP_BUNDLE_NAME = $(AGENT_EXECUTABLE_NAME).app
