CODE_SIGN_IDENTITY="Developer ID Application: Alex Goodkind (H3BMXM4W7H)"
DEVELOPMENT_TEAM="H3BMXM4W7H"
BUNDLE_ID_PREFIX="io.goodkind"
NOTARY_PROFILE="cell-tunnel-notary"
DEV_CERTS_DIR="/Users/agoodkind/Desktop/dev-certs"
APPLE_API_KEY_ID="JHC8GR65Q3"
APPLE_API_ISSUER_ID="00000000-0000-0000-0000-000000000000"
