<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.goodkind.celltunneld</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/celltunneld</string>
    <key>RunAtLoad</key>
    <true/>
    <key>MachServices</key>
    <dict>
        <key>io.goodkind.celltunneld</key>
        <true/>
    </dict>
    <key>StandardOutPath</key>
    <string>/var/log/celltunneld.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/celltunneld.stderr.log</string>
</dict>
</plist>
